.header {
  border-bottom: 1px solid #e0e0e0;
}

.header__container {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search {
  position: absolute;
  right: 24px;
  display: flex;
}

.nav {
  border-top: 1px solid #e0e0e0;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 48px;
  list-style: none;
  padding: 20px 0;
}

.section {
  margin: 80px auto;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

@media (max-width: 768px) {
  .nav__list {
    gap: 24px;
  }

  .footer__top {
    flex-direction: column;
  }

  .header__container {
    flex-direction: column;
    gap: 12px;
  }

  .search {
    position: static;
    width: 100%;
    justify-content: center;
    padding-bottom: 24px;
  }
}
